doctype
html
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width,user-scalable=yes')
        base(href='/boarddoc')
        title Guidance To Board Examinations
        link(rel='stylesheet', href='Content/Site.css', type='text/css') 
        link(rel='stylesheet', href='vendor/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='css/megamenu.css', type='text/css')
        link(rel='stylesheet', href='css/theme_002.css', type='text/css')
        link(rel='stylesheet', href='css/theme.css', type='text/css')
        link(rel='stylesheet', href='css/960.css', type='text/css')
        link(rel='stylesheet', href='css/servicedoc.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(type='text/javascript', src='vendor/more-show.js')
        script(type='text/javascript', src='js/views/servicedoc.js')
        script(type='text/javascript', src='js/views/ga.js')
    body
        block body
        .page2
            .main(align='left')
                    br
                    include navbar
                    h3 Online Guidance for Board Examinations (level 10 and 10+2) Offered
                    p We provide online guidance for board examinations (level 10 and 10+2).
                       |   Our services are featured with course materials, assignments,  chat / video-conferencing/ query posting for clearing doubts, tips and tricks discussion, regular evaluations and feedback. 

                    h3 How Our System Benefits Students:
                    p We pose a challenge to you, identify stregths, weaknesses, opportunities &amp; threats. Then design course material, 
                        | resources and practise problems that suits the delelopment requirement. After an interval again a next and improved set of challenge is posed to judge your progress. This process continues until the desired level of performance is achieved within the proposed timeframe.

                    p We are hereby bringing in the concept of 6A's with our integrated system and methodologies -
                    p ACCELARATE - Today learn faster and act quicker than yesterday.
                    p ACCESSIBLE - Registration is accessible to every student or prospective student.
                    p ARRAY - Orderly, systematic and goal-oriented in execution.
                    p ACME - Optimize your performance by knowing your strength, weakness, opportunity and threat.
                    p AFFABILITY - Cordial and caring relations with all registered service providers.
                    p AMALGAMATE - Fuse your knowledge with problem solving skills and ability to think beyond boundaries.
                    //p ARTIFICIAL INTELLIGENCE - System understands your abilities and poses problems that suits you most. 
                    h3 Our Training Methodology:  
                    p  We believe in incremental model of training. We focus on 5S i.e.
                    p Skill - Improve skills multidimensionally.
                    p Style - Improve style of expressing thoughts.
                    p Strategy - Improve the thought process, build ability to plan and strategise.
                    p System acquintance - Improve ability to handle a system in a robust manner. 
                    p Structure - Improve orderliness and structural approach.
                    br 
                    h3 Tools & Facilities Used For Cliqueserv Academic Guidance System:  
                    .remo-show
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Assignment Management
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Assignment Management

                        div.container Assignments are the formal steps to apply your understandings to problems. Assignment management System is a formal way of assigning, solving and correcting assignments. 
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Academic Query
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Academic Query
                        div.container Questions can be asked on entire academic curriculam except on regional languages.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Take a mock test
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Take a mock test:
                        div.container Practice tests on various subjects of academic curriculum, designed with a vision of competive examinations. Track your performance using practice tests and find strength and weaknesses. Short time-bound tests to measure efficency and performace.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    E-library
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   E-library
                        div.container Digital library containing books for academic purpose. They are downloadable and protected by digital rights management system.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Practise Writing Skills
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Practise Writing Skills
                        div.container Choose a topic and write an essay on the topic. Get it evaluated by the system and experts.
                            | Helpful for those who intend to appear for various competitive exams.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Supervised Project Execution
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Supervised Project Execution
                        div.container Select a project from the list of available projects. Get project report or white paper reviewed by experts. 
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Online Tools / Utilities 
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Online Tools / Utilities 
                        div.container Access will be provided to suitable educational tools & utilities available with the system. This includes a .pdf report generator, a source code editor, digital locker and function plotter. 
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Links to Educational resources
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |    Links to Educational resources
                        div.container Access will also be provided to links to suitable educational resources available with the system. This includes access to reference materials and external web links available with the system. 
                        
                    br
                    h3 Types Of Registration and Service Limits
                    .remo-show 
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Registered Students - Board Examinations (level 10)
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Registered Students - Board Examinations (level 10)
                        div.container  
                            h5 For all students appearing for the respective board examinations (level 10).
                            h4 Method of Registration
                            | Fill the registration form. Along with personal details, please submit a scan of school / college / university identity card. 
                            | Once the registration is approved, you will receive an email.
                            br 
                            | For monthly registration Rs 250/- + Service Tax(14.5%) = 287/- [non-refundable] need to be paid. Once the payment is received an
                            | user name and password will be created and will be sent to your email ID. You will be able to login to the system.
                            br 
                            | For annual registration Rs 1500/- + Service Tax(14.5%) = 1710/- [one time non-refundable] need to be paid. Once the payment is received an
                            | user name and password will be created and will be sent to your email ID. You will be able to login to the system.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Star Students - Board Examinations (level 10+2)
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |  Star Students
                        div.container 
                           h5 For all science students appearing for the respective board examinations (level 10+2).
                           h4 Method of Registration
                           | Fill the registration form. Along with personal details, please submit a scan of school / college / university identity card. Once the registration is approved, you will receive an email.
                           br 
                           | For monthly registration Rs 1000/- + Service Tax(14.5%) = 1145/- [non-refundable] need to be paid. Once the payment is received, an
                           | user name and password will be created and will be sent to your email ID. You will be able to login to the system.
                           br 
                           | For annual registration Rs 11000/- + Service Tax(14.5%) = 12595/- [one time non-refundable] need to be paid. Once the payment is received, an
                           | user name and password will be created and will be sent to your email ID. You will be able to login to the system.
                        br
                    h3 Terms & Conditions (For Students)
                    .remo-show 
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Details: 
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Details: 
                        div.container  
                          ul
                            li All communications must be and will be done in English only.
                            li Password provided by the system must be kept secret. It is not permitted to share the system password with anyone else. In case you suspect a leak, please contact system administrator at the earliest.
                            li User of the system must not use obscene / incoherent languages or post a topic irrelevant of academic purpose.
                            li The tool administrator reserves the right to block an account if it is found to be shared among multiple students or if the account is misused for non-academic purposes.
                            li In case the registration remains valid, the academic materials will be re-adjusted once promotion is confirmed by a board examination student.
                            li Individual experts will be reponsible for answering queries. Experts' responses will be reviewed before posting.
                            li System does not impose any restriction to the student users to give benefits of misclicks, accidental postings, open questions or unclear discussions. The service limit is imposed by the service provider's side. 
                            li The service provider reserves the right of adding new service(s) or modifying service methodology / system.
                            li Responses are provided within 4 (four) working days.
                            li The system is best viewed in all HTML5 supporting browsers including Google Chrome, Opera, Firefox.
                            li Server maintenance / upgradation durations will be notified. 
                        br
                        br
      p
      hr
      div(align='center')
        p &copy; 2015 KriptoLumen Technologies LLP. All rights reserved.
        p I/H-9 Aswininagar,Pubali, Kolkata-700159