doctype
html
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width,user-scalable=yes')
        base(href='/cvwriting')
        title Resume Writing Services
        link(rel='stylesheet', href='Content/Site.css', type='text/css')
        link(rel='stylesheet', href='vendor/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='css/megamenu.css', type='text/css')
        link(rel='stylesheet', href='css/theme_002.css', type='text/css')
        link(rel='stylesheet', href='css/theme.css', type='text/css')
        link(rel='stylesheet', href='css/960.css', type='text/css')
        link(rel='stylesheet', href='css/servicedoc.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(type='text/javascript', src='vendor/more-show.js')
        script(type='text/javascript', src='js/views/servicedoc.js')
        script(type='text/javascript', src='js/views/ga.js')
    body
        block body
        .page2
            .main(align='left')
                    br
                    include navbar       
                    h3 Online Resume Writing and Management Services Offered
                    p We provide resume writing services to the students registered to our system to give a professional look. Different type of resume is supported. 
                    p System provides a version control system to provide versioning of different resume copies.
                    p Following tools are used for the purpose.
                    br
                    .remo-show 
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_PLUS.gif') 
                            |   Online Resume Writing and Management System
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_MINUS.gif')
                                |   Online Resume Writing and Management System
                        div.container 
                            p We provide online resume writing and management system services - create professional resume of different styles / visual resume.
                            p Training is provided on writing resume.
                            p The system provides due security to secure personal information provided in the resume. 
                    br
                    h3 Terms & Conditions (For Users)
                    .remo-show 
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_PLUS.gif') 
                            |    Details: 
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_MINUS.gif')
                                |   Details: 
                        div.container  
                          ul
                            li 1. All communications must be and will be done in English only.
                            li 2. Password provided by the system must be kept secret. It is not permitted to share the system password with anyone else. In case you suspect a leak, please contact system administrator at the earliest.
                            li 3. User of the system must not use obscene / incoherent languages or post a topic irrelevant of academic purpose.
                            li 4. The tool administrator reserves the right to block an account if it is found to be shared among multiple students or if the account is misused for non-academic purposes.
                            li 5. The service provider reserves the right of adding new service(s) or modifying service methodology / system.
                            li 6. Responses are provided within 4 (four) working days for resume writing service.
                            li 7. The system is best viewed in all HTML5 supporting browsers including Google Chrome, Opera, Firefox.
                            li 8. Server maintenance / upgradation durations will be notified. 
                        br
                        br
      p
      hr
      div(align='center')
        p &copy; 2015 KriptoLumen Technologies LLP. All rights reserved.
        p I/H-9 Aswininagar,Pubali, Kolkata-700159