doctype html
head
    meta(name='viewport', content='width=device-width,user-scalable=yes')
    title Feedback / Query Administration Page
    base(href='/feedbackAdmin')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    //link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    style.
        .dl-horizontal {
            dd {
            .clearfix();
            }
        }
body(ng-app='fbAdminApp')
    block-content
        .container
        h1 Feedback / Query Administration Page
        div(ng-view='')
        // end of container
    block script
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js')
        script(type='text/javascript', src='javascripts/ui-bootstrap-tpls.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(type='text/javascript', src='javascripts/bootstrap.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-cookies.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-sanitize.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js')
        script(type='text/javascript', src='js/feedbackAdminApp.js')