doctype
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,user-scalable=yes')
    link(rel='stylesheet', type='text/css', href='css/bubble.css')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='css/theme.css', type='text/css')
    link(rel='stylesheet', href='css/960.css', type='text/css')
    link(rel='stylesheet', href='Content/Site.css', type='text/css')
    link(rel='stylesheet', href='css/slideshow.css', type='text/css')
    link(rel='stylesheet', href='css/megamenu.css', type='text/css')
    link(rel='stylesheet', href='vendor/layout.css', type='text/css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js', charset='utf-8')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.09/jquery.form.min.js')
    script(type='text/javascript', src='vendor/bootstrap-modal.js')
    script(type='text/javascript', src='vendor/bootstrap-transition.js')
    script(type='text/javascript', src='vendor/slideshow.js')
    script(type='text/javascript', src='js/views/noie.js')
    script(type='text/javascript', src='js/views/helpme.js')
    script(type='text/javascript', src='js/views/slideview.js')
    script(type='text/javascript', src='js/views/openresources.js')
    script(type='text/javascript', src='vendor/jquery-ui-1.9.2.custom.min.js')
    //script(type='text/javascript', src='http://sitesmatrix.com/banner-3732387839305b7c534d2d485a49547c5d-313037347c31365b7c534d2d485a49547c5d')
    title Portal for Academic, Research and Career Oriented Services
  body
    include navbar
    .page2
    br
    br
    p CliqueLearn is a portal for academic, research and career oriented services for students. We integrate cutting edge technology with enormous teaching, training &amp; mentoring experience to build the system which is user friendly, convenient and easy to use. 
        |  CliqueLearn not only provides various kinds of resources, facilities and services that a learner requires to excel in his career, but also builds a multilevel collaboration platform.
    p CliqueLearn provides a powerful platform for individuals who are striving and aspiring to reach new height in their career and face the challenges of 21st century.  
    .wrappermain
      .clrmrgn1
        #portfolio-wrap(style='width:100%')
          #portfolio(data-col='3', style='position: relative; margin-top:2%;')
            .dashboardbox(onclick='', style='left: 0px;')
              .dashboardcontent
                span.academics
                span.span-title Academics
              .box-overlay
                span.box-title Academics
                span.box-hover-details
                  | Helping students to gain competitive edge (with the help of technological prowess) by accurate personal profiling, course designing and pursuing continuous improvement program. Helping to attain a new high.
            .dashboardbox(style='left:318px;', onclick='')
              .dashboardcontent
                span.career
                span.span-title Career
              .box-overlay
                span.box-title Career
                span.box-hover-details
                  | One stop solution to career movements - Career counselling &amp; Resume writing services by experts, a next generation recruitment solution (apply through social media profile, self indroduction video, screening tests) and a freelance (Earn while Learn) job management solution to provide real life project experience.
            .dashboardbox(style='left:636px;', onclick='')
              .dashboardcontent
                span.research
                span.span-title Research
              .box-overlay
                span.box-title Research
                |  
                span.box-hover-details
                  | Promoting twenty-first century collaborative research platform. Research problems are increasingly taking multidisciplinary approach. A collaborative platform  
                  br
                  | like CliqueLearn can help researcher to make quick progress in their research.
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    b Our Services:
    p  We provide academic and research oriented services to the students registered to our system, while career oriented services are open to all. Our services are focused on individuals, fulfilling personal developmental needs. Please select the bubbles in the below diagram 
         | to know more about the tools, facilities, and functions provided by CliqueLearn Portal . Also visit the menu links to know more about our services, terms &amp; conditions, registration type and method.
    br
    #page
        #mainBubble
      p
      hr
      div(align='left')
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2015 KriptoLumen Technologies LLP. All rights reserved.
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I/H-9 Aswininagar,Pubali, Kolkata-700159
    .clear
    //#cont-box-1.one_third.home-cont-box
      .column-content-wrapper
        .cont_col_1.widget_latest_posts.substitute_widget_class
          h3.cont_col_1_title
            a(href='') Press Releases
          .latest_posts
            ul.small-thumb
              li
                .small-custom-frame-wrapper.alignleft
                  .custom-frame-inner-wrapper
                    .custom-frame-padding
                      a(href='', title='')
                        img(src='', width='60', height='60', alt='')
                a.teaser-title(title='', href='')
                .teaser-content
                .clear
    | &#x9;&#x9;
    //#cont-box-2.one_third.home-cont-box
      .column-content-wrapper
        .cont_col_2.widget_latest_posts.substitute_widget_class
          h3.cont_col_2_title
            a(href='') Media Coverage
          .latest_posts
            ul.small-thumb
              li
                .small-custom-frame-wrapper.alignleft
                  .custom-frame-inner-wrapper
                    .custom-frame-padding
                      a(href='', title='')
                        img(src='', width='120', height='120', alt='')
                a.teaser-title(title='', href='')
                .teaser-content
                .clear
        | &#x9;&#x9;&#x9;&#x9;
        .cont_col_2.widget_text.substitute_widget_class
          h3.cont_col_2_title
            a(href='') Analyst Coverage
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .textwidget
            .latest_posts
              ul.small-thumb
                li
                  .small-custom-frame-wrapper.alignleft
                    .custom-frame-inner-wrapper
                      .custom-frame-padding
                        a(href='', title='')
                          img(src='', width='120', height='120', alt='')
                  a.teaser-title(title='', href='')
                  .teaser-content
                  .clear
    //#cont-box-3.one_third.home-cont-box.last_column
      .column-content-wrapper
        .cont_col_3.widget_latest_posts.substitute_widget_class
          h3.cont_col_3_title
            a(href='') Upcoming Events
          .latest_posts
            ul.small-thumb
              li
                .small-custom-frame-wrapper.alignleft
                  .custom-frame-inner-wrapper
                    .custom-frame-padding
                      a(href='', title='')
                        img(src='', width='120', height='100', alt='')
                a.teaser-title(title='', href='')
                .teaser-content
                .clear
              li
                a.teaser-title(title='', href='')
                .teaser-content
                .clear
  |   
  
  // Leave us a message Box
  .leave-message-container
      #leave-message-button
        i.fa.fa-envelope
        |  &nbsp;&nbsp;&nbsp;&nbsp;Can we help? 
        i.fa.fa-times.pull-right(style='display: none')
      |     
      #leave-message-content
        .message-instructions
          | Want to 
          b Know more about CliqueLearn
          |  or 
          b Schedule a Demo
          | ?
        |         
        input#contact_name.form-control.input-sm(name='contact_name', placeholder='Name', type='text', onkeypress='return IsAlphaNumeric(event);', style='height:28px;width:275px')
        input#contact_phone.form-control.input-sm(name='contact_phone', placeholder='Phone number', type='tel', onkeypress='return blockNonNumbers(this, event, false, false);', style='height:28px;width:275px')
        input#contact_email.form-control.input-sm(name='contact_email', placeholder='Email', type='email', style='height:28px;width:275px')
        textarea#comments.form-control.input-sm(placeholder='Message', name='comments', rows='5', style='width:275px')
        div(style='font-size: 11px;')
          a(href='../contact', style='color: #fff;')  Click Here
          |  if you are an existing user and need any support.
        #error
        button#sendMessage.btn.btn-primary.btn-sm Submit
    // End ofLeave us a message Box

  script(type='text/javascript', src='vendor/bubbleMenu.js', charset='utf-8')
  include modals/oauth