doctype
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width,user-scalable=yes') 
        base(href='/itdoc')
        title Information Technology Trainings
        link(rel='stylesheet', href='Content/Site.css', type='text/css')
        link(rel='stylesheet', href='vendor/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='css/megamenu.css', type='text/css')
        link(rel='stylesheet', href='css/theme_002.css', type='text/css')
        link(rel='stylesheet', href='css/theme.css', type='text/css')
        link(rel='stylesheet', href='css/960.css', type='text/css')
        link(rel='stylesheet', href='css/servicedoc.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(type='text/javascript', src='js/views/noie.js')
        script(type='text/javascript', src='vendor/more-show.js')
        script(type='text/javascript', src='js/views/servicedoc.js')
        script(type='text/javascript', src='js/views/ga.js')
    body
        block body
        .page2
            .main(align='left')
                    br
                    include navbar
                    br
                    h3 Online Information Technology Trainings Offered
                    p We conduct online training programs in the area of computer science and information technology.
                    .remo-show
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Methodology
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Methodology
                        div.container Trainings are provided for 7-15 discussion sessions followed by a project for 15 days. Sufficient study materials are provided. Participants must successfully clear the test and complete the project to complete the course. Certificates are provided after successful completion of the courses.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='/images/icon_plus.gif') 
                            |    Subject Details
                            a.morebutton2(href='javascript:void(0)')
                                img(src='/images/icon_minus.gif')
                                |   Subject Details
                        div.container Trainings in the following area are being conducted at present. 
                                        ul
                                           p 1. Programming in C / C++.
                                           p 2. Programming in Java.
                                           p 3. Programming in Perl.
                                           p 4. Programming in Javascipt and JQuery.
                                           p 5. Analytics with R.                                           
                                           p 5. MEAN stack (MongoDB - Express frameworks- AngularJS - Node.js).
                                           p 6. Design and Analysis of Algorithms.
                                           p 7. Data Structures.
                                           p 8. Operating Systems.
                                           p 9. Database management System.
                                           p 10.Software Architecture.
                                           p 11.Information Security.
                                           p 12.Cryptography and data security.
                                           p 13.Software Testing.
                                           p 14.Data Science.
                                           p 15.Software Project Management.  
                                        | For course structure, schedule and other details please write to us.

                    br
      p
      hr
      div(align='center')
        p &copy; 2015 KriptoLumen Technologies LLP. All rights reserved.
        p I/H-9 Aswininagar,Pubali, Kolkata-700159