#logo.grid_3
  img(src='images/logo.png', border='0')
#slogan.grid_17 Guidance to Competitive & Board Examinations, Projects, Research, Career In One Click!.
// end logo slogan

.social-media-area
  .social_media_top.widget_text.substitute_widget_class
    .textwidget
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tr
          td(width='78%', align='right', valign='top')
            span(style='font-family: Verdana, Geneva, sans-serif; font-size: 9px; color: #666;')
              a(href='/openresources', style='color:#666')#link-oauth SAMPLE LESSONS
              |  | 
              a(href='/viewblogs', style='color:#666') BLOGS
              |  | 
              a(href='https://in.linkedin.com/pub/cliqueserv-org/104/b62/998', target='_blank')
                img(src='images/icon-1.jpg', border='0')
              | &nbsp;&nbsp;
              a(href='https://twitter.com/CliqueLearn', target='_blank')
                img(src='images/icon-2.jpg', alt='', border='0')
ul#menu
    li
        a(href='/') Overview   
    li#menu-item-156
        a(href='#') Academics
        ul
          li
            a(href='/competitivedoc') Competitive Examinations
          li
            a(href='/boarddoc') Board Examinations
          li
            a(href='/itdoc') Information Technology
    li#menu-item-157
        a(href='#') Career
        ul
          li
            a(href='/counsellingdoc') Career Counselling Services    
          li
            a(href='/cvwriting') Resume Writing Services    
    li#menu-item-158
        a(href='#') Research
        ul
          li
            a(href='/researchdoc') Research Services
          //li
            a(href='#') Research Expert's Panel(Coming soon)
    li#menu-item-159
        a(href='#') Register
        ul
          li
            a(href='/oauth') Free And Limited Access As Student
          li
            a(href='/register') Register As Student (Enrolment to Courses/Services)
    li#menu-item-160
        a(href='/signin') Sign In
    li#menu-item-161
        a(href='#') Company          
        ul
            li
              a(href='/about') About Us
            li
              a(href='/Contact') Contact Us
br