doctype
html
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width,user-scalable=yes')
        base(href='/researchdoc')
        title Research Oriented Services
        link(rel='stylesheet', href='Content/Site.css', type='text/css')
        link(rel='stylesheet', href='vendor/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='css/megamenu.css', type='text/css')
        link(rel='stylesheet', href='css/theme_002.css', type='text/css')
        link(rel='stylesheet', href='css/theme.css', type='text/css')
        link(rel='stylesheet', href='css/960.css', type='text/css')
        link(rel='stylesheet', href='css/servicedoc.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(type='text/javascript', src='vendor/more-show.js')
        script(type='text/javascript', src='js/views/servicedoc.js')
        script(type='text/javascript', src='js/views/ga.js')
    body
        block body
        .page2
            .main(align='left')
                    br
                    include navbar
                    br
                    h3 Online Research Oriented Services Offered
                    p We provide research oriented services to students through a network of registered experts. This is also used as a means to promote research among students. Following are the tools used for the purpose:
                    .remo-show
                        a.morebutton1(href='javascript:void(0)')
                            img(src='images/icon_PLUS.gif') 
                            |    Literature Search
                            a.morebutton2(href='javascript:void(0)')
                                img(src='images/icon_MINUS.gif')
                                |   Literature Search
                        div.container Literature Search is an integral part of research. Literature Search may be required to identify uniqueness of research problem or solution, or to publish a literature work.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='images/icon_PLUS.gif') 
                            |    Discuss about a Research Topic with Experts
                            a.morebutton2(href='javascript:void(0)')
                                img(src='images/icon_MINUS.gif')
                                |   Discuss about a Research Topic with Experts
                        div.container Discuss research problem or proposal with experts to give it to a proper shape. You can start a discussion thread and continue to discuss with experts from multiple domains.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='images/icon_PLUS.gif') 
                            |    Get a Research Paper Reviewed
                            a.morebutton2(href='javascript:void(0)')
                                img(src='images/icon_MINUS.gif')
                                |   Get a Research Paper Reviewed
                        div.container Get your research paper peer reviewed by domain experts. Submit your paper with confidence.
                        br
                        a.morebutton1(href='javascript:void(0)')
                            img(src='images/icon_PLUS.gif') 
                            |    Scientific Research Paper Writing Services
                            a.morebutton2(href='javascript:void(0)')
                                img(src='images/icon_MINUS.gif')
                                |   Scientific Research Paper Writing Services
                        div.container Get your research paper written scientifically by experts using LaTex tools.
                    h3 Types Of Registration and Service Limits
                    .remo-show  
                        a.morebutton1(href='javascript:void(0)')
                            img(src='images/icon_PLUS.gif') 
                            |    Research Students 
                            a.morebutton2(href='javascript:void(0)')
                                img(src='images/icon_MINUS.gif')
                                |  Research Students                        
                        div.container 
                            h5 For all students directly involved in research activities.
                            h4 Service Limits and Conditions
                            p 1. Access to all tools, resources and links will be granted.
                            p 2. Can Issue upto 15 digitally protected e-books per month from the library..
                            p 3. Maximum of 5 papers can be sent for peer review in a year.
                            p 4. Maximum of 20 discussion threads can be started during the period of registration.
                            h4 Method of Registration
                            p Fill the registration form. Along with personal details, please submit a scan of school / college / university identity card.Once the registration is approved, you will receive an email.
                            p For registration Rs 15000/- + Service Tax(14.5%) = 17100/- [one time non refundable] need to be paid. Once the payment is received, an
                             user name and password will be created and will be sent to your email ID. You will be able to login to the system.
                        br
                    h3 Terms & Conditions (For Students)
                    .remo-show 
                        a.morebutton1(href='javascript:void(0)')
                            img(src='images/icon_PLUS.gif') 
                            |    Details: 
                            a.morebutton2(href='javascript:void(0)')
                                img(src='images/icon_MINUS.gif')
                                |   Details: 
                        div.container  
                          ul
                            li 1. All communications must be and will be done in English only.
                            li 2. Password provided by the system must be kept secret. It is not permitted to share the system password with anyone else. In case you suspect a leak, please contact system administrator at the earliest.
                            li 3. User of the system must not use obscene / incoherent languages or post a topic irrelevant of academic purpose.
                            li 4. The tool administrator reserves the right to block an account if it is found to be shared among multiple students or if the account is misused for non-academic purposes.
                            li 5. Individual experts will be reponsible for answering queries. Experts' responses will be reviewed before posting.
                            li 6. System does not impose any restriction to the student users to give benefits of misclicks, accidental postings, open questions or unclear discussions. The service limit is imposed by the service provider's side. 
                            li 7. The service provider reserves the right of adding new service(s) or modifying service methodology / system.
                            li 8. Responses are provided within 25 (twenty five) working days for research oriented services.
                            li 9.The system is best viewed in all HTML5 supporting browsers including Google Chrome, Opera, Firefox.
                            li 10.Server maintenance / upgradation durations will be notified. 
                        br
                        br
      p
      hr
      div(align='center')
        p &copy; 2015 KriptoLumen Technologies LLP. All rights reserved.
        p I/H-9 Aswininagar,Pubali, Kolkata-700159