.modal-faq.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
        br
    div.modal-body(align='left')
        span
            h6 What is the duration of the projects?
            p  Maximum duration will be 6 months for non-research type projects and 1 year for research projects.
            h6 How the guidance will be provided?
            p  Guidance will be provided to gather requirements, design, implementation and verification.
            h6 What will be the mode of guidance?
            p  It could be a mix of online (using CliqueLearn platform)/ offline.
            h6 What will be the Program fees?
            p CliqueLearn does not charge for providing guidance. To filter out non-serious applications a registration and maintenance charge of Rs. 1500/- is charged.